
body {
  background: #eee;
  font-family: sans-serif;
 
}

.card {
  width: 400px;
  background: #fff;
  padding: 8px 4px;
  margin: 8px auto;
}

.title {
  background: #e3f4ff;
  font-size: 16px;
  padding: 8px;
  text-align: justify;
}

.content {
  background: #e3f4ff;
  width: 95%;
  margin: auto;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 8px;
  padding-right: 8px;
  border-width: 8px;
  text-align: justify;
}

.button-container {
  background: #e3f4ff;
  width: 200px;
  margin: 100px;
  margin-top: 8px;
  border-width: 8px;
  padding: 8px;
  text-align: center;
  
}

button {
  background: white;
  border: 1px solid #eee;
  margin: auto;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 8;
  padding-bottom: 24;
  
}