@import url("https://fonts.googleapis.com/css2?family=Anek+Telugu:wght@300;400;700&display=swap");

* {
  font-family: "Anek Telugu", sans-serif;
}

h1 {
  margin-left: 4rem;
}

.image-container {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-bottom: 4rem;
}

img {
  box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.474);

}

p {
  padding-inline: 10rem;
  margin-inline: 4rem;
}